/* Colors */

$pc-100: 10%;
$pc-300: 20%;
$pc-500: 30%;
$pc-700: 40%;
$pc-900: 50%;

$black: #000;
$white: #fff;

$background: #223843;

$greys: ();
$tones: $pc-100, $pc-300, $pc-500, $pc-700, $pc-900;

@each $t in $tones {
    $ti: index($tones, $t);
    $greys: append($greys, #{lighten($black, $t)});
}

$color-1: #e74c3c;
$color-2: #F86624;
$color-3: #f1c40f;
$color-4: #52B788;
$color-5: #3498db;
$color-6: #9b59b6;

$colors: $color-1, $color-2, $color-3, $color-4, $color-5, $color-6;

$timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);

/* Fonts */

$font-body: "Fira Sans", sans-serif;
$font-heading: "Playfair Display", monospace;

/* Layout */

body {
    background: $background;
    font-family: $font-body;
    font-size: 135%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 100%;
    letter-spacing: 0.025em;
}

article {
    color: $white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

header,
section {
    max-width: 1050px;
}

section {
    padding: 4em;
}

@for $i from 1 through 36 {
    header :nth-child(#{$i}),
    section :nth-child(#{$i}) {
        animation: document-animation #{500 + ($i * 50)}ms $timing-function;
    }
}

/* Pages */

.template-container.ng-enter,
.template-container.ng-leave {
    transition: all 500ms $timing-function;
}

.template-container.ng-enter {
    opacity: 0;
}
.template-container.ng-enter.ng-enter-active {
    opacity: 1;
}

.template-container.ng-leave {
    opacity: 1;
}
.template-container.ng-leave.ng-leave-active {
    opacity: 0;
}

$pages: 'about', 'skills', 'employment', 'experience', 'certification', 'education';
@each $p in $pages {
    $index: index($pages, $p);
    article.#{$p} {
        background: nth($colors, $index);
        color: darken(nth($colors, $index), $pc-500);
    }
    
    article.#{$p} h1, 
    article.#{$p} h2 {
        color: $black;
    }
    
    article.#{$p} h3, 
    article.#{$p} h4 {
        color: darken(nth($colors, $index), $pc-700);
    }
}

/* Headings */

h1,
h2,
h3,
h4 {
    margin: 1em 0;
}

h1,
h2 {
    font-weight: 700;
    font-family: $font-heading;
    letter-spacing: 0em;
}

h3,
h4 {
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 3.5em;
    line-height: 1.05;
}

h2 {
    font-size: 2.5em;
    line-height: 1.25;
}

h3 {
    font-size: 1.5em;
    line-height: 1.25;
}

h4 {
    line-height: 1.22222222;
}

small {
    margin: 0.3em 0;
    display: block;
    font-weight: 400;
}

@keyframes document-animation {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
        
    50% {
        opacity: 0;
        transform: translateY(100px);
    }
    
    100% {
        opacity: auto;
        transform: translateY(0);
    }
}

/* Text */

p {
    margin: 1em 0;
    line-height: 1.5em;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

header h1,
header h2 {
    margin: 0.5em 0 0;
}

header h1 {
    color: $white;
    font-size: 3em;
}

header h2 {
    color: lighten($background, $pc-500);
    font-size: 1.5em;
    font-weight: normal;
    font-family: $font-body;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/* Back Button */

.back-button,
.back-button webicon {
    width: 4em;
    height: 4em;
}

.back-button {
    position: fixed;
    top: 2em;
    right: 3em;
    color: $black;
}

.back-button:hover {
    cursor: pointer;
}

.back-button.hidden {
    display: none;
}

/* Bubbles */

ul.bubbles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    list-style: none;
    margin: 0;
    padding: 1.5em 0;
}

ul.bubbles > li {
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    width: 250px;
    height: 250px;
    margin: 15px;
    border-radius: 50%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition: transform 500ms $timing-function;
}

ul.bubbles > li:hover {
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    cursor: pointer;
    transform: scale(1.05);
}

@each $c in $colors {
    $index: index($colors, $c);
    ul.bubbles > li:nth-child(#{$index}) {
        background: #{$c};
        animation: bubble-animation #{750 + $index * 100}ms $timing-function;
    }
}

@keyframes bubble-animation {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

/* Skills */

ul.skills-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.skills-list > li {
    display: inline-block;
    margin: 0 1em 1em 0;
    padding: 1em 2em;
    color: $black;
    background: lighten($color-2, $pc-300);
}

/* Repsonsive */

@media (max-width:43.75em) {    

    h1 {
        font-size: 1.7em;
        line-height: 1.25;
    }

    h2 {
        font-size: 1.5em;
        line-height: 1.15384615;
    }

    h3 {
        font-size: 1.125em;
        line-height: 1.13636364;
    }

    h4 {
        font-size: 1.075em;
        line-height: 1.11111111;
    }
}

@media (max-width:56.25em) {

    h1 {
        font-size: 2.1em;
        line-height: 1.125;
    }

    h2 {
        font-size: 1.7em;
        line-height: 1.25;
    }

    h3 {
        font-size: 1.15em;
        line-height: 1.25;
    }
}