<article ng-controller="HomeController">
    <header>
        <h1>Macklin Hartley</h1>
        <h2>Web Developer and User Experience Analyst</h2>
    </header>
    <section>
        <ul class="bubbles">
            <li ng-click="goToPage('/about')">About Me</li>
            <li ng-click="goToPage('/skills')">Skills</li>
            <li ng-click="goToPage('/employment')">Employment</li>
            <li ng-click="goToPage('/experience')">Experience</li>
            <li ng-click="goToPage('/certification')">Certification</li>
            <li ng-click="goToPage('/education')">Education</li>
        </ul>
    </section>
</article>