<article ng-controller="HomeController">
    <section>
        <header>
        </header>

        <div class="bubbles">
            <div>                
                <h1>Macklin Hartley</h1>
                <h2>Web Developer and User Experience Analyst</h2>
            </div>
            <div ng-click="goToPage('/about')">About Me</div>
            <div ng-click="goToPage('/skills')">Skills</div>
            <div ng-click="goToPage('/employment')">Employment</div>
            <div ng-click="goToPage('/experience')">Experience</div>
            <div ng-click="goToPage('/certification')">Certification</div>
            <div ng-click="goToPage('/education')">Education</div>
        </div>

        <ul class="social">
            <li>
                <a href="https://www.facebook.com/macklin.hartley" target="_blank">
                    <webicon icon="foundation:social-facebook" />
                </a>
            </li>
            <li>
                <a href="https://twitter.com/_tomacklin" target="_blank">
                    <webicon icon="foundation:social-twitter"/>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/macklin-hartley-56b11875" target="_blank">
                    <webicon icon="foundation:social-linkedin"/>
                </a>
            </li>
        </ul>
    </section>
</article>